* {
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
  }

body {
    background-color:#133325 ;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: #064228;
    
}
.alert{
    text-align: center;
    font-size: 2em;
    color: #064228;
    transition: all 2s ease 0s;
}

.illegal {
    font-size: 100px;
    color: orange
}

.square {
    font-size: 4em;
    color: #064228;
    background: #0EAD69;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 200px;
  /* width: 200px; */
}

.hidden {
    opacity: 0;
    
}

.nodisplay{
    display: none;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.gameboard{
    /* margin: px; */
    padding: 50px;
    border-radius: 25px;
    /* height: 500px; */
    background: #0EAD69;
    width: 50%;
    margin:auto;
  
   /* gap: 1%; */
}

.gamegrid{
    background: #096B41;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
    transition: all 2s ease 0s;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    
}
.startButton{
    width:15%;
    border-radius: 10px;
    background-color: #096B41;
    color: white;
    cursor: pointer;
    position: absolute;
  
}
.resetButton{
    width:15%;
    border-radius: 10px;
    background-color: #096B41;
    color: white;
    cursor: pointer;
}

.tac{
    color: white;
}
    
.highlight{
    background-color: #12e38a;
}
.winner{
    position: absolute;
    height: 150px;
    width: 600px;
    color: white;
    background: #096B41;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
top:90px;
text-align: center;
font-size: 4em;
padding: 25px 0 0 0;
border-radius: 25px;

}